<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="/js/login.js"></script>
  <meta charset="utf-8">
</head>

<body>
  <div class="wrapper">
    <h1 class="box header">Welcome</h1>

    <div class="box sidebar">
      <h3>Please log in to continue</h3>
      <hr>

      <div class="data-form">
        <form id="form">
          <p><input type='text' id='Username' placeholder="Username"></p>
          <p><input type='password' id='Password' placeholder="Password"></p>
          <p><button id="login-btn">Login</button></p>
          <p><button id="create-btn">Create</button></p>
          <p><a href="/auth/github" class="button">Github Login</a>
          </p>
        </form>
      </div>
    </div>
    <hr>
    <em>Please do not enter sensitive information.</em>
</body>

</html>