<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 4</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="/style.css">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script type="text/babel" src="/script.jsx" defer></script>
    
  </head>
  <body>
    <h1>ToDo List</h1>
    
    <div id = "form"> <!-- Add Form Here --> </div>
     
    <h2>Task List</h2>
    
    <div id = "list"> <!-- Task List Here --> </div>

  </body>
</html>
