<% layout('../layout/layout') %>

<h1 class="display-4">CS2421 - A4</h1>
<p class="lead">By Zach Hilman</p>
<br>
<a href="/auth/github" type="button" class="btn btn-secondary btn-block btn-lg">
    Login with GitHub
</a>