/*Style your own assignment! This is fun! */
nav.navbar{
	color: white;
	border-radius: 0;
	margin-bottom: 0;
}

label.required:after
{
    color: red;
    content: " *";
}

.panel-subtitle:before
{
	content: "Uploader: "
}

.edit-btn {
	outline: black;
	color: #333333
}

#uploadForm {
	margin-left: 5%;
	margin-right: 25%;
}

.jam {
	float: right;
}

.jam audio {
	display: "none";
}

#jam-pic {
	height: 50px;
}

#jam-button{
	margin-right: 40px;
}

#view-btn {
	font-size: 2em;
	margin: 10%;
}

#google-btn {
	font-size: 2em;
	margin: 5%;
}

#view-btn-alt {
	font-size: 2em;
	margin: 5%;
}

#sidebar .btn {
	font-size: 1.1em;
	width: 100%;
	max-width: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}


.panel {
	border: none;
}
.panel-body {
	border-bottom: none;
}

.panel-title {
	font-size: 24px;
	font-style: italic;
}

.panel-title input {
	font-size: 24px;
	font-style: italic;
	background-color: #333333;
}

.panel-subtitle input {
	font-size: 12px;
	background-color: #333333
}

.panel .display video {
	max-width: 100%;
	min-height: 30%;
	max-height: 600px;
	object-fit: contain;
	vertical-align: middle;
}

.panel .panel-heading {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	border-radius: 0;
}

.panel .display img {
	width: auto;
	min-height: 221px;
	max-height: 400px;
}

.panel .display {
	display: inline-flex;
  align-items: center;
}

.btn.icon-right .glyphicon{
	margin-left: 5px;
}

.btn.icon-left .glyphicon{
	margin-right: 5px;
}

.panel .panel-body > .row {
	display: flex;
}
.nav li {
	padding-top: 10px;
}

@media screen and (max-width: 767px){
	.panel .btn{
		margin-top: 5px;
		margin-bottom: 5px;
	}

}

