body {
  color: #5C5B42;
  background-color: #E3E2C5;
}

hr {
  color: #E6979F;
}

.pure-button.button-add,
.pure-button.button-delete,
.pure-button.button-update,
.pure-button.button-clear,
.pure-button.button-logout {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.pure-button.my-button {
  background: #508099;
  color:#FEFEFE
}


h1,
body,
form {
  padding-top: 10px;
  text-align: center;
}

table,
thead,
tbody,
tr,
th,
td {
  margin-left: auto;
  margin-right: auto;
  background-color: #81C4E6;
  color: #5C5B42;
}

button {
  display: inline-block;
}
