body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #AEB7EB;
}

h1 {
  color: #000000;
  line-height: 1.1;
  font-family: "Poppins";
  text-align: center;
  margin-top: 1em;
  align-self: center;
}

form {
  background-color: #eee;
  font-family: "Poppins";
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  font-family: "Poppins";
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

/* footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
} */

a {
  margin-top: 3em;
  background-color: #EBDEAB;
  font-family: "Poppins";
  
}


table {
 background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
  margin-left: 1em;
}

table, td, th {
  border: 3px solid black;
  color: black;
  align-self: center;
  font-family: "Poppins";
  
  
}



